<div
  class="pt-6 min-h-screen mx-auto px-20 py-8 bg-[#fafafa] dark:bg-[#0a0a0a]"
>
  <h2 class="text-xl font-bold mb-4 text-black dark:text-white">
    More About Me
  </h2>
  <div
    class="space-y-8 border shadow-sm rounded-lg border-border dark:border-darkborder p-6"
  >
  
  </div>
</div>
