---
import Layout from "../layouts/Layout.astro";
import About from "../components/about.astro";
import Projects from "../components/projects.astro";
import Sidecard from "../components/sidecard.astro";
import Skills from "../components/skills.astro";
import Experience from "../components/experience.astro";
---

<Layout>
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-6">
    <div class="sm:col-span-1">
      <Sidecard />
      <Skills />
    </div>
    <div class="sm:col-span-2">
      <About />
      <Projects />
      <Experience />
    </div>
  </div>
</Layout>
