<div class="fixed inset-0 flex items-center justify-center bg-[url('/ecommerce.webp')] bg-cover bg-center">
  <div class="bg-white bg-opacity-80 p-8 sm:p-16 md:p-24 lg:p-32 xl:p-44 rounded-lg shadow-lg text-center">
    <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold">Coming Soon!</h1>
    <a href="/" class="mt-8 sm:mt-12 md:mt-16 inline-block px-4 sm:px-6 py-2 sm:py-3 bg-black text-white font-semibold rounded-lg shadow-md hover:bg-darkborder">
      Back to Homepage
    </a>
  </div>
</div>