<div
  class="rounded-lg border border-border dark:border-darkborder shadow-sm mb-6 bg-white dark:bg-black"
>
  <div class="space-y-1.5 p-6 flex flex-row justify-between items-baseline">
    <h1 class="text-2xl font-semibold leading-none tracking-tight text-black dark:text-white">
      About Me
    </h1>
  </div>
  <div class="p-6 pt-0">
    <p class="text-lighttext dark:text-darktext font-light text-balance">
      Experienced in modern web technologies and frameworks, focusing on scalable solutions.
      Currently expanding into back-end development for a full-stack role. Open to on-site
      opportunities and ready to tackle new challenges in tech.
    </p>
  </div>
</div>
