<div class="rounded-lg border shadow-sm mb-6 bg-white dark:bg-slate-800">
  <div class="space-y-1.5 p-6 flex flex-row justify-between items-baseline">
    <h1 class="text-2xl font-semibold leading-none tracking-tight text-slate-900 dark:text-white">About Me</h1>
  </div>
  <div class="p-6 pt-0">
    <p class="text-secondary text-slate-500 dark:text-slate-400">
      Front Developer focused on building fast, efficient and whatever web
      applications.
    </p>
  </div>
</div>
