<div class="p-6 pt-6">
  <h2 class="text-xl font-bold mb-4">Work Experience</h2>
  <li class="border-b pb-8">
    <div class="flex items-center space-x-4">
      <img class="rounded-md border shadow-md object-cover" src="" alt="">
      <h3 class="font-semibold">Front End Developer</h3>
      <p class="text-sm text-gray-500">Freelance</p>
    </div>
  </li>
</div>
