---
import { Image } from 'astro:assets';
import logoImage from '../assets/images/logo.webp';
import dbImage from '../assets/images/db.webp';
import tpImage from '../assets/images/tp.webp';
---

<div class="pt-6">
  <h2 class="text-xl font-bold mb-4 text-black dark:text-white">Work Experience</h2>
  <ul class="space-y-8 border shadow-sm rounded-lg border-border dark:border-darkborder p-6">
    <li class="border-b border-border dark:border-darkborder pb-8">
      <div class="flex items-center space-x-4">
        <Image
          src={logoImage}
          alt="Benjami Bono's Logo"
          width={48}
          height={48}
          class="rounded-md border border-border dark:border-darkborder shadow-md object-cover size-12"
          loading="lazy"
          format="webp"
          quality={80}
          densities={[1, 2]}
          sizes="48px"
        />
        <div>
          <h3 class="font-semibold text-black dark:text-white">Front End Developer</h3>
          <p class="text-sm text-lighttext dark:text-darktext">Freelance</p>
        </div>
      </div>

      <p class="text-xs text-lighttext dark:text-darktext mt-2 flex items-center my-auto">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="size-3 mr-2 my-auto dark:text-darktext"
          style=""
          ><path d="M8 2v4"></path><path d="M16 2v4"></path><rect
            width="18"
            height="18"
            x="3"
            y="4"
            rx="2"></rect><path d="M3 10h18"></path><path d="M8 14h.01"></path><path d="M12 14h.01"
          ></path><path d="M16 14h.01"></path><path d="M8 18h.01"></path><path d="M12 18h.01"
          ></path><path d="M16 18h.01"></path></svg
        >
        April 2020 - Present
      </p>
      <p class="text-xs mt-2 text-black dark:text-white">
        Developed 20+ websites with the best and most efficient technologies; integrated e-commerce
        solutions and improved SEO. Worked with clients to understand their needs and deliver the
        best possible product.
      </p>
    </li>
    <li class="border-b border-border dark:border-darkborder pb-8">
      <div class="flex items-center space-x-4">
        <Image
          src={dbImage}
          alt="Dental Barcelo's Logo"
          width={48}
          height={48}
          class="rounded-md border border-border dark:border-darkborder shadow-md object-cover size-12"
          loading="lazy"
          format="webp"
          quality={80}
          densities={[1, 2]}
          sizes="48px"
        />
        <div>
          <h3 class="font-semibold text-black dark:text-white">
            Commercial and Administrative Director
          </h3>
          <p class="text-sm text-lighttext dark:text-darktext">Dental Barcelo</p>
        </div>
      </div>

      <p class="text-xs text-lighttext dark:text-darktext mt-2 flex items-center my-auto">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="size-3 mr-2 my-auto dark:text-darktext"
          style=""
          ><path d="M8 2v4"></path><path d="M16 2v4"></path><rect
            width="18"
            height="18"
            x="3"
            y="4"
            rx="2"></rect><path d="M3 10h18"></path><path d="M8 14h.01"></path><path d="M12 14h.01"
          ></path><path d="M16 14h.01"></path><path d="M8 18h.01"></path><path d="M12 18h.01"
          ></path><path d="M16 18h.01"></path></svg
        >
        October 2023 - Present
      </p>
      <p class="text-xs mt-2 text-black dark:text-white">
        Managed commercial and administrative operations, optimized internal processes, reduced
        last-minute cancellations by 50% with an appointment system, and increased online visibility
        and new patient acquisition by 20% through digital marketing strategies.
      </p>
    </li>
    <li class="border-border dark:border-darkborder pb-8">
      <div class="flex items-center space-x-4">
        <Image
          src={tpImage}
          alt="Telepizza's Logo"
          width={48}
          height={48}
          class="rounded-md border border-border dark:border-darkborder shadow-md object-cover size-12"
          loading="lazy"
          format="webp"
          quality={80}
          densities={[1, 2]}
          sizes="48px"
        />
        <div>
          <h3 class="font-semibold text-black dark:text-white">Store Manager</h3>
          <p class="text-sm text-lighttext dark:text-darktext">Telepizza S.A</p>
        </div>
      </div>

      <p class="text-xs text-lighttext dark:text-darktext mt-2 flex items-center my-auto">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="size-3 mr-2 my-auto dark:text-darktext"
          style=""
          ><path d="M8 2v4"></path><path d="M16 2v4"></path><rect
            width="18"
            height="18"
            x="3"
            y="4"
            rx="2"></rect><path d="M3 10h18"></path><path d="M8 14h.01"></path><path d="M12 14h.01"
          ></path><path d="M16 14h.01"></path><path d="M8 18h.01"></path><path d="M12 18h.01"
          ></path><path d="M16 18h.01"></path></svg
        >
        January 2019 - October 2023
      </p>
      <p class="text-xs mt-2 text-black dark:text-white">
        Led the most profitable store in the country, focusing on process optimization and enhancing
        customer experience, which consistently increased sales. Managed a team of 25 people,
        fostering a dynamic and motivated work environment, rsulting in higher productivity and team
        cohesion.
      </p>
    </li>
  </ul>
</div>
