<div class="">
  <h2 class="text-xl font-bold mb-4">Projects</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
    <div class="p-6 pt-6 h-full rounded-lg border shadow-sm">
      <a class="font-semibold text-black hover:underline" href=""
        >Ultramarinos El Calvo</a
      >
      <p class="text-sm text-gray-500 mt-1">
        Michelin Star Chef's needed a blazing fast web for customers
      </p>
      <div class="flex items-center justify-between mt-4">
        <div class="flex items-center space-x-2">
          <div class="size-3 rounded-full bg-red-800"></div>
          <span class="text-xs font-medium text-gray-500">Astro</span>
          <a class="text-sm text-black hover:underline" href="">Visit Project</a
          >
        </div>
      </div>
    </div>
    <div class="p-6 pt-6 h-full rounded-lg border shadow-sm">
      <a class="font-semibold text-black hover:underline" href=""
        >Ultramarinos El Calvo</a
      >
      <p class="text-sm text-gray-500 mt-1">
        Michelin Star Chef's needed a blazing fast web for customers
      </p>
      <div class="flex items-center justify-between mt-4">
        <div class="flex items-center space-x-2">
          <div class="size-3 rounded-full bg-red-800"></div>
          <span class="text-xs font-medium text-gray-500">Astro</span>
          <a class="text-sm text-black hover:underline" href="">Visit Project</a
          >
        </div>
      </div>
    </div>
    <div class="p-6 pt-6 h-full rounded-lg border shadow-sm">
      <a class="font-semibold text-black hover:underline" href=""
        >Ultramarinos El Calvo</a
      >
      <p class="text-sm text-gray-500 mt-1">
        Michelin Star Chef's needed a blazing fast web for customers
      </p>
      <div class="flex items-center justify-between mt-4">
        <div class="flex items-center space-x-2">
          <div class="size-3 rounded-full bg-red-800"></div>
          <span class="text-xs font-medium text-gray-500">Astro</span>
          <a class="text-sm text-black hover:underline" href="">Visit Project</a
          >
        </div>
      </div>
    </div>
    <div class="p-6 pt-6 h-full rounded-lg border shadow-sm">
      <a class="font-semibold text-black hover:underline" href=""
        >Ultramarinos El Calvo</a
      >
      <p class="text-sm text-gray-500 mt-1">
        Michelin Star Chef's needed a blazing fast web for customers
      </p>
      <div class="flex items-center justify-between mt-4">
        <div class="flex items-center space-x-2">
          <div class="size-3 rounded-full bg-red-800"></div>
          <span class="text-xs font-medium text-gray-500">Astro</span>
          <a class="text-sm text-black hover:underline" href="">Visit Project</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
