<div class="">
  <h2 class="text-xl font-semibold mb-4 text-black dark:text-white">
    Projects
  </h2>
  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6 bg-white dark:bg-black"
  >
    <div
      class="p-6 pt-6 h-full rounded-lg border shadow-sm border-border dark:border-darkborder"
    >
      <a
        class="font-semibold text-darkgrey dark:text-white hover:underline"
        href="https://ultramarinos-el-calvo.vercel.app/"
        target="_blank"
        rel="noopener noreferrer">Ultramarinos El Calvo</a
      >
      <p
        class="text-sm
        text-lighttext
        dark:text-darktext
        mt-1"
      >
        Developed a responsive website for a Michelin Star Chef's restaurant.
      </p>
      <div class="flex items-center justify-between mt-4">
        <div class="flex items-center space-x-2">
          <div class="size-3 rounded-full bg-granate"></div>
          <span class="text-xs font-normal text-lighttext dark:text-darktext"
            >Astro</span
          >
        </div>
        <a
          class="text-sm text-darkgrey dark:text-white hover:underline"
          href="https://ultramarinoselcalvo.com/"
          target="_blank"
          rel="noopener noreferrer"
          >Visit Project<svg
            class="w-3 h-3 inline-block ml-2"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            width="16"
            height="16"
            stroke-width="2"
          >
            <path
              d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
            ></path>
            <path d="M11 13l9 -9"></path>
            <path d="M15 4h5v5"></path>
          </svg></a
        >
      </div>
    </div>
    <div
      class="p-6 pt-6 h-full rounded-lg border shadow-sm border-border dark:border-darkborder"
    >
      <a
        class="font-semibold text-darkgrey dark:text-white hover:underline"
        href="https://www.dentalbarcelo.com/"
        target="_blank"
        rel="noopener noreferrer">Dental Barcelo</a
      >
      <p class="text-sm text-lighttext dark:text-darktext mt-1">
        Designed a new website for a dental clinic to showcase services.
      </p>
      <div class="flex items-center justify-between mt-4">
        <div class="flex items-center space-x-2">
          <div class="size-3 rounded-full bg-granate"></div>
          <span class="text-xs font-normal text-lighttext dark:text-darktext"
            >Astro</span
          >
        </div>
        <a
          class="text-sm text-darkgrey dark:text-white hover:underline"
          href="https://www.dentalbarcelo.com/"
          target="_blank"
          rel="noopener noreferrer"
          >Visit Project<svg
            class="w-3 h-3 inline-block ml-2"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            width="16"
            height="16"
            stroke-width="2"
          >
            <path
              d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
            ></path>
            <path d="M11 13l9 -9"></path>
            <path d="M15 4h5v5"></path>
          </svg></a
        >
      </div>
    </div>
    <div
      class="p-6 pt-6 h-full rounded-lg border shadow-sm border-border dark:border-darkborder"
    >
      <a
        class="font-semibold text-darkgrey dark:text-white hover:underline"
        href="https://siam-may-thai.vercel.app/"
        target="_blank"
        rel="noopener noreferrer">Siam May Xerez</a
      >
      <p class="text-sm text-lighttext dark:text-darktext mt-1">
        Created a new website for a Muay Thai and MMA gym to highlight their
        offerings.
      </p>
      <div class="flex items-center justify-between mt-4">
        <div class="flex items-center space-x-2">
          <div class="size-3 rounded-full bg-granate"></div>
          <span class="text-xs font-normal text-lighttext dark:text-darktext"
            >Astro</span
          >
        </div>
        <a
          class="text-sm text-darkgrey dark:text-white hover:underline"
          href="https://siam-may-thai.vercel.app/"
          target="_blank"
          rel="noopener noreferrer"
          >Visit Project<svg
            class="w-3 h-3 inline-block ml-2"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            width="16"
            height="16"
            stroke-width="2"
          >
            <path
              d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
            ></path>
            <path d="M11 13l9 -9"></path>
            <path d="M15 4h5v5"></path>
          </svg></a
        >
      </div>
    </div>
    <div
      class="p-6 pt-6 h-full rounded-lg border shadow-sm border-border dark:border-darkborder"
    >
      <a
        class="font-semibold text-darkgrey dark:text-white hover:underline"
        href="/shop"
        >E-commerce Shop</a
      >
      <p class="text-sm text-lighttext dark:text-darktext mt-1">
        Coming Soon! <br />
        <br />
        <br />
      </p>
      <div class="flex items-center justify-between mt-4">
        <div class="flex items-center space-x-2">
          <div class="size-3 rounded-full bg-black dark:bg-border"></div>
          <span class="text-xs font-normal text-lighttext dark:text-darktext"
            >Next.js</span
          >
        </div>
        <a class="text-sm text-darkgrey dark:text-white hover:underline" href="/shop"
          >Visit Project<svg
            class="w-3 h-3 inline-block ml-2"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            width="16"
            height="16"
            stroke-width="2"
          >
            <path
              d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
            ></path>
            <path d="M11 13l9 -9"></path>
            <path d="M15 4h5v5"></path>
          </svg></a
        >
      </div>
    </div>
  </div>
</div>
