<div
  class="border shadow-sm rounded-lg border-border dark:border-darkborder mt-6 card-bg fade-in"
  style="animation-delay: 150ms"
>
  <div class="flex flex-col space-y-1.5 p-6">
    <h1 class="text-2xl font-semibold leading-none tracking-tight text-black dark:text-white">
      Skills 🛠️
    </h1>
  </div>
  <div class="p-6 pt-0">
    <!-- Frontend Skills -->
    <div class="mb-4">
      <h2 class="text-sm font-semibold text-black dark:text-white mb-2">Frontend:</h2>
      <ul
        class="flex flex-wrap gap-2 cursor-default text-darkgrey dark:text-white text-xs font-semibold"
      >
        <li
          class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
        >
          React
        </li>
        <li
          class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
        >
          Next.js
        </li>
        <li
          class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
        >
          Astro
        </li>
        <li
          class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
        >
          TS/JS
        </li>
        <li
          class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
        >
          Tailwind CSS
        </li>
        <li
          class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
        >
          Shadcn/UI
        </li>
        <li
          class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
        >
          Figma
        </li>
      </ul>
    </div>

    <!-- Backend Skills -->
    <div class="mb-4">
      <h2 class="text-sm font-semibold text-black dark:text-white mb-2">Backend:</h2>
      <ul
        class="flex flex-wrap gap-2 cursor-default text-darkgrey dark:text-white text-xs font-semibold"
      >
        <li
          class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
        >
          Node.js
        </li>
        <li
          class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
        >
          Supabase
        </li>
        <li
          class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
        >
          PostgreSQL
        </li>
        <li
          class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
        >
          REST APIs
        </li>
        <li
          class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
        >
          GraphQL
        </li>
        <li
          class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
        >
          Python
        </li>
        <li
          class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
        >
          AWS
        </li>
      </ul>
    </div>

    <!-- Tools Skills -->
    <div class="mb-4">
      <h2 class="text-sm font-semibold text-black dark:text-white mb-2">Tools:</h2>
      <ul
        class="flex flex-wrap gap-2 cursor-default text-darkgrey dark:text-white text-xs font-semibold"
      >
        <li
          class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
        >
          Git/GitHub
        </li>
        <li
          class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
        >
          Docker
        </li>
        <li
          class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
        >
          OpenAI API
        </li>
        <li
          class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
        >
          Jest
        </li>
        <li
          class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
        >
          React Testing Library
        </li>
      </ul>
    </div>

    <!-- Other Skills -->
    <div>
      <h2 class="text-sm font-semibold text-black dark:text-white mb-2">Other:</h2>
      <ul
        class="flex flex-wrap gap-2 cursor-default text-darkgrey dark:text-white text-xs font-semibold"
      >
        <li
          class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
        >
          Agile/Scrum
        </li>
        <li
          class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
        >
          Responsive Design
        </li>
        <li
          class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
        >
          UI/UX Best Practices
        </li>
      </ul>
    </div>
  </div>
</div>
