<div
  class="border shadow-sm rounded-lg border-border dark:border-darkborder mt-6"
>
  <div class="flex flex-col space-y-1.5 p-6">
    <h1
      class="text-2xl font-semibold leading-none tracking-tight text-black dark:text-white"
    >
      Skills
    </h1>
  </div>
  <div class="p-6 pt-0">
    <ul
      class="flex flex-wrap gap-2 cursor-default text-darkgrey dark:text-white text-xs font-semibold"
    >
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        JS & TS 
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        React
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Next.js
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Tailwind CSS
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        GitHub
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Astro
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Figma
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Node.js
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Docker
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        SQL
      </li>
    </ul>
  </div>
</div>
