<div
  class="border shadow-sm rounded-lg border-gray-200 mt-6"
>
  <div class="flex flex-col space-y-1.5 p-6">
    <h1 class="text-2xl font-semibold leading-none tracking-tight">Skills</h1>
  </div>
  <div class="p-6 pt-0">
    <ul class="flex flex-wrap gap-2">
      <li
        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold border-transparent bg-muted hover:bg-accent transition duration-500"
      >
        JavaScript
      </li>
      <li
        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold border-transparent bg-muted hover:bg-accent transition duration-500"
      >
        TypeScript
      </li>
      <li
        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold border-transparent bg-muted hover:bg-accent transition duration-500"
      >
        React
      </li>
      <li
        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold border-transparent bg-muted hover:bg-accent transition duration-500"
      >
        HTML
      </li>
      <li
        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold border-transparent bg-muted hover:bg-accent transition duration-500"
      >
        Tailwind CSS
      </li>
      <li
        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold border-transparent bg-muted hover:bg-accent transition duration-500"
      >
        GitHub
      </li>
      <li
        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold border-transparent bg-muted hover:bg-accent transition duration-500"
      >
        Astro
      </li>
      <li
        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold border-transparent bg-muted hover:bg-accent transition duration-500"
      >
        Figma
      </li>
      <li
        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold border-transparent bg-muted hover:bg-accent transition duration-500"
      >
        Next.js
      </li>
      <li
        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold border-transparent bg-muted hover:bg-accent transition duration-500"
      >
        Node.js
      </li>
      <li
        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold border-transparent bg-muted hover:bg-accent transition duration-500"
      >
        Docker
      </li>
      <li
        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold border-transparent bg-muted hover:bg-accent transition duration-500"
      >
        SQL
      </li>
    </ul>
  </div>
</div>
