<div
  class="border shadow-sm rounded-lg border-gray-200 mt-6"
>
  <div class="flex flex-col space-y-1.5 p-6">
    <h1 class="text-2xl font-semibold leading-none tracking-tight">Skills</h1>
  </div>
  <div class="p-6 pt-0">
    <div class="flex flex-wrap gap-2">
      <p
        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold border-transparent bg-gray-200"
      >
        JavaScript
      </p>
      <p
        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold border-transparent bg-gray-200"
      >
        TypeScript
      </p>
      <p
        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold border-transparent bg-gray-200"
      >
        React
      </p>
      <p
        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold border-transparent bg-gray-200"
      >
        HTML
      </p>
      <p
        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold border-transparent bg-gray-200"
      >
        CSS
      </p>
    </div>
  </div>
</div>
