<div
  class="border shadow-sm rounded-lg border-border dark:border-darkborder mt-6 card-bg fade-in"
  style="animation-delay: 200ms"
>
  <div class="flex flex-col space-y-1.5 p-6">
    <h1 class="text-2xl font-semibold leading-none tracking-tight text-black dark:text-white">
      Soft Skills 🤝🏼
    </h1>
  </div>
  <div class="p-6 pt-0 space-y-1.5">
    <ul
      class="flex flex-wrap cursor-default gap-2 py-4 text-xs font-semibold border-b border-border dark:border-darkborder text-darkgrey dark:text-white"
    >
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Leadership
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Collaborative
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Communication
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Adaptable
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Problem-solver
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Resourceful
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Available
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Relocatable
      </li>
    </ul>
    <ul
      class="flex flex-wrap cursor-default gap-2 py-4 text-xs font-semibold border-border dark:border-darkborder text-darkgrey dark:text-white"
    >
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Spanish
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        English
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Catalan
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        German (Working Knowledge)
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        French (Working Knowledge)
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Italian (Working Knowledge)
      </li>
    </ul>
  </div>
</div>
