<div
  class="border shadow-sm rounded-lg border-border dark:border-darkborder mt-6"
>
  <div class="flex flex-col space-y-1.5 p-6">
    <h1
      class="text-2xl font-semibold leading-none tracking-tight text-black dark:text-white"
    >
      Soft-Skills
    </h1>
  </div>
  <div class="p-6 pt-0 space-y-1.5">
    <ul
      class="flex flex-wrap gap-2 border-b border-border dark:border-darkborder py-4"
    >
      <li
        class="inline-flex items-center cursor-default rounded-full border px-2.5 py-0.5 text-xs font-semibold border-pillbg text-darkgrey dark:text-white bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Problem-Solver
      </li>
      <li
        class="inline-flex items-center cursor-default rounded-full border px-2.5 py-0.5 text-xs font-semibold border-pillbg text-darkgrey dark:text-white bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Fast Learner
      </li>
      <li
        class="inline-flex items-center cursor-default rounded-full border px-2.5 py-0.5 text-xs font-semibold border-pillbg text-darkgrey dark:text-white bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500">
        Tech Lover
      </li>
      <li
        class="inline-flex items-center cursor-default rounded-full border px-2.5 py-0.5 text-xs font-semibold border-pillbg text-darkgrey dark:text-white bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500">
        Self-Demanding
      </li>

    </ul>
    <ul class="flex flex-wrap gap-2 py-4">
      <li
        class="inline-flex items-center cursor-default rounded-full border px-2.5 py-0.5 text-xs font-semibold border-pillbg text-darkgrey dark:text-white bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Native Spanish
      </li>
      <li
        class="inline-flex items-center cursor-default rounded-full border px-2.5 py-0.5 text-xs font-semibold border-pillbg text-darkgrey dark:text-white bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        C1+ English
      </li>
      <li
        class="inline-flex items-center cursor-default rounded-full border px-2.5 py-0.5 text-xs font-semibold border-pillbg text-darkgrey dark:text-white bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        B1 German
      </li>
      <li
        class="inline-flex items-center cursor-default rounded-full border px-2.5 py-0.5 text-xs font-semibold border-pillbg text-darkgrey dark:text-white bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        B1 French
      </li>
    </ul>
  </div>
</div>
