<div class="border shadow-sm rounded-lg border-border dark:border-darkborder mt-6">
  <div class="flex flex-col space-y-1.5 p-6">
    <h1 class="text-2xl font-semibold leading-none tracking-tight text-black dark:text-white">
      Soft Skills 🤝🏼
    </h1>
  </div>
  <div class="p-6 pt-0 space-y-1.5">
    <ul
      class="flex flex-wrap cursor-default gap-2 py-4 text-xs font-semibold border-b border-border dark:border-darkborder text-darkgrey dark:text-white"
    >
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Immediate Start
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Relocation Ready
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Problem-Solving
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Quick Learner
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Team Player
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Clear Communicator
      </li>
    </ul>
    <ul
      class="flex flex-wrap cursor-default gap-2 py-4 text-xs font-semibold border-border dark:border-darkborder text-darkgrey dark:text-white"
    >
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Native Spanish
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        Native English
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        B1+ German
      </li>
      <li
        class="rounded-full border px-2.5 py-0.5 border-pillbg bg-pillbg dark:bg-darkborder dark:border-darkborder hover:bg-border dark:hover:bg-darkgrey dark:hover:border-darkgrey transition duration-500"
      >
        B1+ French
      </li>
    </ul>
  </div>
</div>
