---
import '@fontsource-variable/inter';
import SEO from '../components/SEO.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="This is Benjami Bono's portfolio where I broadcast all my projects, experience, some info about me and social media links."
      content="Benjami Bono Portfolio"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO title={title} />
  </head>
  <body class="min-h-screen max-w-screen-lg mx-auto px-4 py-8 bg-[#fafafa] dark:bg-[#0a0a0a]">
    <slot />
    <style>
      body {
        font-family: 'Inter Variable', sans-serif, system-ui;
      }
    </style>
  </body>
</html>
